.navbar {
    background-color: white;
    padding: 10px;
    width: 20vw;
  }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around; 
    }
    
    li {
      display: inline;
      text-decoration-color: white;
    }
    
    a {
      text-decoration: none;
    }
    
